* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1.2px;
  /* border: 2px solid tomato; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  position: relative;
  background-color: rgb(0, 0, 0);
}

body > section {
  padding: 5rem 5rem 2rem 5rem;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 1px #3d3d3d;
  border-radius: 2rem;
}

.slides {
  display: flex;
}

video#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  opacity: 0.2;
}

.slides > div {
  position: relative;
}

.slides img {
  width: 30rem;
  height: auto;
  border-radius: 3rem;
}

.slide2 img {
  position: absolute;
  right: -15rem;
  bottom: -1.5rem;
  height: 26rem;
  z-index: 1;
}

.slide1 {
  order: 1;
}

.slide2 {
  order: 2;
}

.slide3 {
  order: 3;
}

.slide1 img,
.slide3 img {
  filter: blur(3px);
}

span {
  width: 1.2rem;
  height: 1.2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

span:hover {
  width: 1.5rem;
  height: 1.5rem;
}

.circle2 {
  background-color: rgb(56, 211, 250);
}

.circles {
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 1.6rem;
  margin-top: 3.5rem;
}

.change {
  display: flex;
  position: relative;
}

.left {
  rotate: 90deg;
  position: absolute;
  bottom: 14rem;
  left: 10rem;
  z-index: 2;
}

.right {
  rotate: -90deg;
  position: absolute;
  right: 10rem;
  bottom: 14rem;
  z-index: 2;
}

.change img {
  width: 3rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  cursor: pointer;
}

.change img:hover {
  width: 3.2rem;
  background-color: rgba(255, 255, 255, 0.6);
}

h1 {
  position: absolute;
  color: white;
  top: 8rem;
  transition: color 5s ease;
  font-size: 2.5rem;
  cursor: context-menu;
}
